h1 {color: red; text-align: center;}
p {font-family: sans-serif;font-size: 1.4em;text-align: center;}
h1 {font-size: 50px; font-family: sans-serif;}
.te {text-align: center; background-color: #666; text-transform: capitalize; letter-spacing: 1px}